<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MissionPlanner.HUD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MissionPlanner.HUD.Properties.Settings>
            <setting name="PipelineString" serializeAs="String">
                <value>udpsrc port=%d ! application/x-rtp,encoding-name=H264,payload=96 ! rtph264depay ! avdec_h264 ! videoconvert ! autovideosink</value>
            </setting>
            <setting name="PipelineStringRecord" serializeAs="String">
                <value>udpsrc port=%d  buffer-size=60000 ! application/x-rtp,encoding-name=H264,payload=96 ! rtph264depay ! h264parse ! tee name=record ! queue ! avdec_h264 ! video/x-raw, format=I420 ! d3dvideosink sync=false record. ! queue ! mp4mux ! filesink location = %s</value>
            </setting>
            <setting name="UDPPort" serializeAs="String">
                <value>9000</value>
            </setting>
        </MissionPlanner.HUD.Properties.Settings>
    </userSettings>
</configuration>